@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Nunito:wght@300;400;500;600;700;800;900&display=swap');

body {
  background: #3a4040;
  margin: 0;
  font-family: Cabin, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
