.container{
  .text{
    margin-top: 5px;
  }
  word-break: break-all;
  .user{
    padding: 6px;
    display: flex;
    color: white;
    .name{
      color: #28c028;
      white-space: nowrap;
      padding: 5px;
    }

  }
  .friend{
    .user{
      padding: 6px;
      display: flex;
      color: white;
      .name{
        color: #d1882b;
        white-space: nowrap;
        padding: 5px;
      }
    }
  }




  img {
    width: 40px;
    border-radius: 50px;
  }
}